body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

input {
    max-width: 100%;
}

.bullet-less {
    list-style-type: none;
}

.address {
    font-size: small;
}

.address.city {
    font-weight: bold;
}

.siteDetailsKey {
    font-size: medium;
    font-weight: bold;
}

.siteDetailsValue {
    font-size: medium;
}
