<div class="hero-unit">
	<a class="btn btn-primary" ng-href="/">Back to projects</a>

	<div class="page-header">
		<h2>{{project.name}} Detail</h2>
	</div>

	<ul>
		<li class="bullet-less" ng-repeat="ticket in tickets">
			<span class="label label-info">{{ticket.site.brandKey}}-{{ ticket.site.siteIdentifier }}</span>
			<span class="label">{{ticket.siteWorkItem.status | statusConstantFilter}}</span>
			<span class="address">{{ticket.site.address1}} </span>
			<span class="address city">{{ticket.site.city}}, {{ticket.site.state}} </span>
			<span class="address zip">{{ticket.site.zip}}</span>
		</li>
	</ul>
</div>