<div class="hero-unit">
	<div class="page-header">
		<h2>{{project.name}} Detail</h2>
	</div>

	<ul>
		<li class="bullet-less" ng-repeat="ticket in tickets">
			<span ng-switch on="ticket.siteWorkItem.status">
				<span ng-switch-when="3">
					<span class="btn btn-success" ng-click="openSiteDetail(ticket.site.brandKey, ticket.site.siteIdentifier)" >
						{{ticket.site.brandKey}}-{{ ticket.site.siteIdentifier }}
					</span>
				</span>
				<span ng-switch-default>
					<span class="btn btn-warning" ng-click="openSiteDetail(ticket.site.brandKey, ticket.site.siteIdentifier)" >
						{{ticket.site.brandKey}}-{{ ticket.site.siteIdentifier }}
					</span>
				</span>
			</span>

			<span class="label">{{ticket.siteWorkItem.status | statusConstantFilter}}</span>
			<span class="address">{{ticket.site.address1}} </span>
			<span class="address city">{{ticket.site.city}}, {{ticket.site.state}} </span>
			<span class="address zip">{{ticket.site.zip}}</span>
		</li>
	</ul>
</div>