<div class="hero-unit">
	<div class="page-header">
		<h2>{{site.brandKey}}-{{site.siteIdentifier}}</h2>
	</div>

	<form class="well">
		<div class="row-fluid">
			<span class="siteDetailsKey" >Address:</span>
			<span class="siteDetailsValue" >{{site.address1}}</span>
		</div>
		<div class="row-fluid">
			<span class="siteDetailsValue" >{{site.address2}}</span>
		</div>
		<div class="row-fluid">
			<span class="siteDetailsValue" >{{site.city}}, {{site.state}} {{site.zip}}</span>
		</div>
		<div class="row-fluid">
			<span class="siteDetailsKey" >Email:</span>
			<span class="siteDetailsValue" >{{site.emailAddress}}</span>
		</div>
		<div class="row-fluid">
			<span class="siteDetailsKey" >Store Main Phone:</span>
			<span class="siteDetailsValue" >{{site.primaryPhone}}</span>
		</div>
		<div class="row-fluid">
			<span class="siteDetailsKey" >Alt Phone:</span>
			<span class="siteDetailsValue" >{{site.altPhone}}</span>
		</div>
	</form>

</div>